.str{color:#262}
.kwd{color:#00D;font-weight:bold}
.com{color:#07D;font-style:italic}
.typ{color:#00D;font-weight:bold}
.lit{color:#00D}
.pun{color:#660}
.pln{color:#000}
.tag{color:#008}
.atn{color:#606}
.atv{color:#080}
.dec{color:#606}

pre.prettyprint{padding:5px;border:1px solid #CCC}
ol.linenums{margin-top:0;margin-bottom:0}li.L0,li.L1,li.L2,li.L3,li.L5,li.L6,li.L7,li.L8{list-style:none}li.L1,li.L3,li.L5,li.L7,li.L9{background:#eee}
@media print{
.str{color:#060}
.kwd{color:#006;font-weight:bold}
.com{color:#600;font-style:italic}
.typ{color:#404;font-weight:bold}
.lit{color:#044}
.pun{color:#440}
.pln{color:#000}
.tag{color:#006;font-weight:bold}
.atn{color:#404}
.atv{color:#060}}